.home .heading {
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.featured-trips {
    background-color: #efefef;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    
}

.featured-trips h2{
    color: #393c3d;
    font-size: 24px;
}

.featured-trips p {
    font-size: 15px;
    margin-bottom: 13px;
}

.featured-trips .thumbnail{
  height: 500px;
}

.nav a {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.home .jumbotron {
  background-image:url(../img/yosemitecover.jpg);
  height: 600px;
  margin-bottom:0px;
}

.home .jumbotron .container {
  position: relative;
  top:100px;
}

.home .jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.home .jumbotron p {
  font-size: 26px;
  color: #fff;
}

.home .learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.trips .jumbotron {
  background-color: #f7f7f7;
  
}

/*  products css page */
.trips .jumbotron p{
  font-size: 15px;
  
}

.trips .container{
        border-top-style: solid;
        border-top-color: #778899;

}

.trips .thumbnail { 
  margin-top: 20px;
}

.red {
  color: red;
}